@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
  max-width: 1920px;
}
.navbar{
  justify-content: space-around;
  align-items: center;
}
.inline{
  display: inline;
}
.brand{
  font-size: 2.8rem;
}
.display-flex{
  display: flex;
}
ul{
  list-style: none;

}
.bg-main-color{
  background-color: rgba(255, 144, 14, 0.1);
}
.bg-txt{
  color: #424242;
  font-size: 18px;
  /* margin-top: 50px; */
}

li a{
  text-decoration: none;
  margin: 20px;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
}
/* banner related styles */
.banner{
  /* margin-left: 10rem ;  */
  max-width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.banner-content{
  max-width: 861px;
  margin: 0 auto;
  text-align: center;
}
.banner-img{
  width: 100%;
  margin: 0 auto ;
  /* justify-content: center; */
  /* align-items: center; */
}

.banner-title{
  font-weight: bold;
  font-size: 4rem;
}
.banner-discription{
  font-size: 1rem;
  color: #727272;
}
.pri-buttoon{
  background-color: #FF900E;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  width: 11.2rem;
  height: 4rem;
  margin-bottom: 50px;
}
.margin{
  /* margin: 0 110px; */
  margin-top: 130px;
}
/* teams image and features */
main{
  max-width: 1000px;
  margin: 0 auto;
}
.teams{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
.teams-img-container{
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.banner-discription{
  font-size: 1rem;
  color:#727272
}
.section-title{
  font-size: 2.8rem;
  max-width: 530px;
  
}
.facts-container{
  display: flex;
}
.fact{
  width: 15.125rem;
  height: 15.125rem;
  border: 1px solid #FF900E;
  margin: 25px;
  border-radius: 4px;
  justify-content: center;
  text-align: center;
}
.fact-number{
  font-size: 45px;
  font-weight:600;
  margin-top: 0px;
  
}
.fact-name{
 font-size: 20;
 font-weight: 600;
 color: #727272;
 margin-top: -30px;
}
.fact img{
  margin-top: 40px;
}
.dark03{
  color: #727272;
}
.sponsers{
  
  justify-content: center;
  text-align: center;
}
.footer-title{
  margin: 0 auto;
  width: 34rem;
  height: 8rem;
}
.sponser-img{
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 3rem;
  filter: grayscale(100%); 
}
.last-head{
  padding-top: 20px;
}
.ftr{

  justify-content: center;
  align-items: center;
  background-color: #FFF4E7;
  width: 65rem;
  height: 3.6rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
}
@media screen  and (max-width:576px){
    .teams{
      flex-direction: column;
    }
    .our-features{
      text-align: center;
    }
    .teams-img-container{
  
     display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
   }
   .section-title{
    text-align: center;
    font-size: 30px;
   }
   .facts-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
   }
   .fact{
  width: 9.125rem;
  height: 12.125rem;
  border: 1px solid #FF900E;
  margin: 22px;
  border-radius: 4px;
  justify-content: center;
  text-align: center;
}
}
/* respopbsibe media wuery */
@media screen and (max-width:576px){
  .navbar, .navlinks{
    flex-direction: column;
  }
  .banner-title{
  font-weight: bold;
  font-size: 2rem;
  }
  .footer-title{
  margin: 0 auto;
  width: 16rem;
  height: 8rem;
}
.sponser-img{
  display: grid;
  grid-template-areas: repeat(2,1fr);
  
}
.ftr{

  justify-content: center;
  align-items: center;
  background-color: #FFF4E7;
  width: 100%;
  height: 3.6rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
}
.last-head{
  padding-top: 5px;
}
}
